<ion-content>
  <!-- <app-loader *ngIf="loader"></app-loader> -->
  <!-- <div class="bg"></div> -->
  <!-- <img class="" src="../../assets/Splashscreen.png" alt=""/> -->
  <!-- <div class="home_page d-flex h-100 align-items-center justify-content-center">
  </div> -->
  <section class="w-100 h-100 d-flex align-items-center bg_yellow justify-content-center" *ngIf="loader">
    <div class="land_logo p-5">
      <div class='text-center pb-2'>
        <img src="../../assets/logo-doll-black.svg"  class="img-fluid wobble"/>
      </div>
      <div class='text-center pb-2'>
        <img src="../../assets/logo_full_text.svg" class="img-fluid"/>
      </div>
    </div>
  </section>


</ion-content>
