.wrapper1{
  width: 350px;
  overflow-x:scroll;
  white-space: nowrap;
  height: 120px;
}

.slide{
  // background: #ccc;
  display: inline-block;
  width: 130px;
}


.prod_img {
  border-radius: 10px;
  height: 170px !important;
}


.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 330px;
  font-size: 14px;
  font-weight: 500;
  height: 2.2em;
  text-align: left;
  white-space: nowrap;
}


.example::-webkit-scrollbar {
  display: none;
}


.prod_offer_caps {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 10%;
}


.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}


.btn_2 {
  background: #e85459;
  background: linear-gradient(
90deg
, #b6b6b6 0%, #574848 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e85459", endColorstr="#e8282e", GradientType=1);
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 400;
}

.btn_2 {
  border: 2px solid #b2b1b1;
  border-radius: 30px;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}
