
<!-- <div class="row" (pan)="swipeEvent($event)">
  <div class="col-md-12">
       <img src="./../../assets/profile_user.jpg">
  </div>
</div> -->




  <div class="video_view w-100 h-100 position-relative overflow_auto">
    <div class="video_view_row w-100 h-100 position-relative">
      <header class="video_head p-2">
          <div class="d-flex align-items-center justify-content-center video_new_head pb-2">
              <a href="#" class="pr-3 txt_black2 txt_semi">Trending</a>
              <span class="img_video_logo"><img class="wobble" src="./../../assets/yummy-logo-black.png" alt=""></span>
              <a href="#" class="pl-3 txt_black2 txt_semi">My Videos</a>
          </div>
          <div class="d-flex align-items-center justify-content-center video_new_head pb-2">
              <div class="flx_0 pr-3 cursor-pointer">
                  <i class="fa fa-arrow-left back_arrow"></i>
              </div>
              <div class="flx_1 text-right">
                  <div class="text-center d-inline-block m-0 cursor-pointer">
                  <span class="img_add_video"><img src="./../../assets/add_video_icon.png" alt="">
                      <span class="txt_black2 txt_size_4 pt-0 txt_semi d-block">Add Video</span>
                  </span>
              </div>
              </div>
          </div>
      </header>
      <aside class="aside_video d-flex justify-content-center align-items-center flex-column">

          <span class="cursor-pointer pb-4 text-center">
              <img src="./../../assets/like-icon-white.png" class="video_action_img" alt="">
              <span class="d-block">5052</span>
          </span>
          <span class="cursor-pointer pb-4 text-center">
              <img src="./../../assets/comments-icon-white.png" class="video_action_img" alt="">
              <span class="d-block">5052</span>
          </span>
          <span class="cursor-pointer pb-4 text-center">
              <img src="./../../assets/share-icon-white.png" class="video_action_img" alt="">
              <span class="d-block">5052</span>
          </span>

      </aside>
      <article class="video_info_txt text-white">
          <div class="video_pro_info">
              <div class="d-flex">
                  <div class="flx_0 pr-2">
                      <span class="vp_1">
                          <img src="./../../assets/profile_user.jpg" alt=""/>
                      </span>
                  </div>
                  <div class="flx_1 ellips_txt">
                      <h5 class="vp_2 ellips_txt">sample title here sample title here   </h5>
                      <span class="vp_3">1 day ago</span>
                  </div>
                  <div class="flx_0 pl-3">
                      <span class="vp_4">Follow</span>
                  </div>
              </div>

          </div>

          <p>sample text here</p>
      </article>
          <video autoPlay loop  muted class="video_view_2">
              <source src="./../../assets/RW20seconds_1.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
          </video>

    </div>
  </div>

