<ion-content>
  <div class="login_page login_page_bg w-100 h-100">
    <div class="wrapper">
      <div class="d-flex h-100 flex-column">
        <div class="flx_1">
          <header class="pb-5">
            <h2 class="text_3 cus_pt_1">Password Reset</h2>
          </header>
          <form [formGroup]="resetpswdForm" (ngSubmit)="onSubmit()">
            <div class="login_form">
              <div class="form_group">
                <label class="label_1 mb-0 pb-1 d-block">Enter New Password</label>
                <input type="password" class="n_input_1 bg-transparent w-100" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
                <div *ngIf="submitted && f.password.errors" class="warning">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6
                    characters</div>
                </div>
              </div>

              <div class="form_group pt-3">
                <label class="label_1 mb-0 pb-1 d-block">Repeat Password</label>
                <input type="password" class="n_input_1 bg-transparent w-100" formControlName="cpassword"
                  [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" placeholder="Confirm Password">
                <div *ngIf="submitted && f.cpassword.errors" class="warning">
                  <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.cpassword.errors.mismatch">Password is mismatched</div>
                </div>
              </div>

              <button type="submit" class="btn_1 mt-4 d-block text-center box-shadow p-2 w-100">Submit</button>
                <!-- <div class="text-left pt-3 pb-4">
                <a href="" class="color_1">Back</a>
              </div> -->
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</ion-content>
