<ion-header class="main_page_head  hotfix">
  <ion-toolbar class="bar-header">
    <ion-title>
      <div class="d-flex align-items-center">
        <div  (click)="back_action()" class="flx_0 pr-3 cursor-pointer">
          <i class="fa fa-arrow-left back_arrow"></i>
      </div>
        <div class="flx_1 text-center">
         <h6 class="txt_semi mb-0 mt-0 color_3"> Forget Password</h6>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forget_password wrapper h-100">
    <div class="d-flex h-100 flex-column">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="flx_1 pt-3">
            <p class="color_1">
                Please enter your email address. You will receive a link to create a new password via email.
            </p>
            <div class="login_form pt-5">
              <label class="label_1 mb-0 d-block">Email</label>
              <input type="text" class="input_1 w-100" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
            </div>
                <div class="bs_row w-100 d-block mt-2 mb-5"></div>
            </div>
        </div>
        <div class="flx_0 pb-5">
          <button type="submit" class="btn_1 d-block text-center box-shadow p-2 w-100 text-white">Next</button>
        </div>
        </form>
    </div>
</div>
</ion-content>
