<ion-header class="main_page_head  hotfix">
  <ion-toolbar class="bar-header">
    <ion-title>
      <div class="d-flex align-items-center">
        <div class="flx_1 text-center">
          <h6 class="txt_semi mb-0 mt-0 color_3">Change Password</h6>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forget_password wrapper h-100">
    <div class="d-flex h-100 flex-column">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="flx_1">
        <div class="login_form pt-5">
          <div class="form_group pt-3">
            <label class="label_1 mb-0 d-block">Password</label>
            <input type="password" class="input_1 w-100" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>          </div>
          <div class="bs_row w-100 d-block mt-2 mb-2"></div>
          <div class="form_group pt-3">
            <label class="label_1 mb-0 d-block">Confirm Password</label>
            <input type="password" class="input_1 w-100" formControlName="confirmPassword"  [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>          </div>
          <div class="bs_row w-100 d-block mt-2 mb-4"></div>
        </div>
      </div>
      <div class="flx_0 pb-5">
        <button type="submit" class="btn_1 d-block text-center box-shadow p-2 w-100 text-white">Change Password</button>
        <!-- <a (click)="submit()" class="btn_1 d-block text-center box-shadow p-2 w-100 text-white">Submit</a> -->
        <!-- <span href="" (click)="fp_success_btn()" class="btn_1 cursor-pointer d-block text-center box-shadow p-2 w-100 text-white">Next</span> -->
      </div>
      </form>
    </div>

  </div>
<!-- Forget Password Success -->
<div *ngIf="fp_success">
  <div class="popup_box_1  d-flex align-items-center justify-content-center">
    <div class="popup_info bg-white text-center p-3 pt-5 pb-5">
      <img width="150" height="150" src="../../assets/forget_password_success_img.png" class="img-fluid" alt="">
      <h3 class="color_3 txt_semi pt-3 pb-3">Your Password hasbeen reset!</h3>
      <a href="/auth/login" class="btn_1 d-block text-center box-shadow p-2 w-100 text-white">Done</a>
    </div>
  </div>
  </div>
</ion-content>
