.input_filed {
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  float: right;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
}



.button_text{
     margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    font-size: 15px;
    font-weight: 800;
}

.float{
	position:fixed;
  width: 95%;
  margin: 10px;
  bottom: 0px;
  height: 35px;
  padding: 4px;
	background-color:#e85156;
	color:#FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
