<ion-content class="layout_wrapper">
  <div class="merchant_wrapper w-100 h-100 position-relative d-flex flex-column overflow_auto">
    <!-- <div class="flx_0">
      <app-mob-header></app-mob-header>
    </div> -->
  <div class="flx_1 overflow_auto position-relative">
   <!-- *********************************************************************************************************** -->
   <ion-content>
    <div class="yellow_bg pt-5 h-100">
      <h3 class="txt_semi pb-2 pl-3">Message</h3>
    <div class="chat_pro h-100 chat_pro flx_1 bg-white overflow_auto scroll_hide">
      <ul>
          <li class="pb-3" routerLink="/chat-message/{{user.profile_id}}" *ngFor="let user of users; index as line">
              <div class="row no-gutters align-items-center">
                  <div class="col-9 pr-2">
                      <div class="row no-gutters align-items-start">
                          <div class="col-3 pr-2 text-center">
                              <img *ngIf="user.profile_img" src="{{user.profile_img}}" class="c_img" alt=""/>
                              <img *ngIf="!user.profile_img" src="../../assets/profile_user.jpg" class="c_img" alt=""/>
                              <span class="small_txt_2 txt_black d-block">{{user.role_name}}</span>
                          </div>
                          <div class="col-9 line_n">
                              <b class="d-block c_name txt_semi pb-0">{{user.profile_first_name}}</b>
                              <span class="c_msg  pr-1 txt_single_line w-100 d-block">{{user.last_msg}}</span>
                              <!-- <span class="tick_img pl-2">
                              <img src="../../assets/tick.png" class="tick_unread" alt=""/>
                              <img src="../../assets/tick-read.png" class="tick_read" alt=""/>
                          </span> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-3 pt-2 text-center">
                      <span class="c_mg_count m-auto d-inline-flex align-items-center justify-content-center bg_red text-white line_n"  *ngIf="user.unseen_count !== 0" >{{user.unseen_count}}</span>
                      <span class="c_time d-block pt-2">{{user.last_msg_time | timeAgo}}</span>
                  </div>
              </div>
          </li>
      </ul>
  </div>
  </div>
  </ion-content>















   <!-- *********************************************************************************************************** -->

  </div>
  <div class="flx_0">
      <app-mob-footer></app-mob-footer>
  </div>
</div>
</ion-content>

