<footer class="main_footer">
  <div class="wrapper">
      <div class="row footer_nav pt-3 pb-3 align-items-center justify-content-between">
          <a (click)="action1()"   class="col text-center footer_1" [ngClass]="{'footer_active': ((subMenuName$ | async) == 'Dashboard')}"> </a>
          <a (click)="action2()"  class="col text-center footer_2" [ngClass]="{'footer_active': ((subMenuName$ | async) == 'Chat')}"> </a>

          <a (click)="action3()"  class="notification col text-center footer_3" [ngClass]="{'footer_active': ((subMenuName$ | async) == 'Notifications')}">
            <span class="badge" *ngIf="notification_detail !== 0">{{notification_detail}}</span>
          </a>

          <a (click)="action4()"  class="col text-center footer_4" [ngClass]="{'footer_active': ((subMenuName$ | async) == 'Videos')}"></a>
      </div>
  </div>
</footer>
