<ion-header class="main_page_head  hotfix">
  <ion-toolbar class="bar-header">
    <ion-title>
      <div class="d-flex align-items-center">
        <div class="flx_0 pr-3 cursor-pointer">
          <a (click)="back_action()">
          <i class="fa fa-arrow-left back_arrow"></i>
        </a>
      </div>
        <div class="flx_1 text-center">
         <h6 class="txt_semi mb-0 mt-0 color_3"> Email Verification</h6>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="login_page wrapper h-100">
    <div class="d-flex h-100 flex-column">
      <div class="flx_1">




        <div class="ev pt-4">
          <label class="color_1 pb-5">Enter your OTP code here</label>
        <form style="text-align: center;" class="digit-group" #userForm="ngForm" ngNativeValidate>
          <input class="input_filed" name="text1" [(ngModel)]="text1" type="text" maxlength="1" id="digit-1" name="digit-1" />
          <input class="input_filed" name="text2" [(ngModel)]="text2" type="text" maxlength="1" id="digit-2" name="digit-2" />
          <input class="input_filed" name="text3" [(ngModel)]="text3" type="text" maxlength="1" id="digit-3" name="digit-3" />
          <input class="input_filed" name="text4" [(ngModel)]="text4" type="text" maxlength="1" id="digit-4" name="digit-4" />
      </form>
      </div>
        <div class="pt-4">
          <span class="d-block color_1 pb-1">Didn't you received any code?</span>
          <span (click)="resend_otp()" class="d-block color_2 cursor-pointer">Resend a new code.</span>
        </div>
      </div>
      <div class="flx_0 pb-5">
        <div class="pt-5">
          <a (click)="submit()" class="btn_1 d-block text-center box-shadow p-2 w-100 text-white">Submit</a>
        </div>
      </div>
      </div>




  </div>
</ion-content>

<script>
  document.getElementById("yourId").focus()
</script>
