<ion-content>
  <div class="my_order_empty h-100">
    <div class="d-flex h-100 align-items-center justify-content-center flex-column w-100">
      <div class="flx_0 w-100">
        <div class="top_arrow wrapper pb-3 pt-3">
          <div class="d-flex">
              <div class="flx_0 pr-2">
                  <i class="fa fa-arrow-left back_arrow color-2"></i>
              </div>
              <div class="flx_1 text-center">
                <h5 class="txt_semi color_3">Favorite</h5>
              </div>
          </div>
      </div>
      </div>
      <div class="flx_1">
        <div class="wrapper">
          <img class="d-block w-100" src="../../assets/slider-2.jpg" alt="Second slide">
          <div class="slider_info pt-4 wrapper text-center">
              <h3 class="text_2">Your Favorite is empty</h3>
            <p class="color_1">
              Make your Favorite and add food to it
            </p>
          </div>
          <a  style="width: 100%;" (click)="fav_con()" href="/client-home"  class="btn_1 d-block text-center box-shadow p-2 text-white">Back to shop</a>
      </div>
      </div>
    </div>
    </div>
</ion-content>
