<ion-content>
  <div class="wrapper">
<div class="pt-3">
<h3 class="txt_semi pb-3">Forms</h3>
<div class="row forms_row">
    <div class="col-6 text-center pb-4">
        <img src="../../assets/product_img_2.jpg" alt="" class="prod_merc_img">
        <div class="info_product text-center yellow_bg">
            <h6 class="txt_normal">Received Forms</h6>
            <div class="row pt-2">
                <div class="col-12 text-center">
                  <a href="#" class="go_btn go_btn_2">
                      Go <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </a>
              </div>
              </div>
        </div>
    </div>
    <div class="col-6 text-center pb-4">
        <img src="../../assets/product_img_2.jpg" alt="" class="prod_merc_img">
        <div class="info_product text-center yellow_bg">
            <h6 class="txt_normal">Approved Forms</h6>
            <div class="row pt-2">
                <div class="col-12 text-center">
                  <a href="#" class="go_btn go_btn_2">
                      Go <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </a>
              </div>
              </div>
        </div>
    </div>
    <div class="col-6 text-center pb-4">
        <img src="../../assets/product_img_2.jpg" alt="" class="prod_merc_img">
        <div class="info_product text-center  yellow_bg">
            <h6 class="txt_normal">Rejected forms</h6>
            <div class="row pt-2">
                <div class="col-12 text-center">
                  <a href="#" class="go_btn go_btn_2">
                      Go <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </a>
              </div>
              </div>
        </div>
    </div>
    <div class="col-6 text-center pb-4">
        <img src="../../assets/product_img_2.jpg" alt="" class="prod_merc_img">
        <div class="info_product text-center  yellow_bg">
            <h6 class="txt_normal">Export pdf </h6>
            <div class="row pt-2">
              <div class="col-12 text-center">
                <a href="#" class="go_btn go_btn_2">
                    Go <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
            </div>
           
        </div>
    </div>
</div>
</div>
</div>
</ion-content>
