


<section class="new_loading d-flex align-items-center justify-content-center" *ngIf="loader">
	<div class="loading_img_1">
		<img src="../../assets/loading-circle-1.svg"/>
	</div>
	<div class="loading_img_2">
		<img src="../../assets/yummy-logo-black.png"/>
	</div>
</section>



  <div class="horizontal-container h-100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto" *ngIf="!loader">
    <div class="vertical-container h-100" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="content-container h-100" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
          <div *ngFor="let slide of video_list; let i = index" class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <div class="video_view w-100 h-100 position-relative overflow_auto">
                <div class="video_view_row w-100 h-100 position-relative">
                  <header class="video_head p-2">
                      <div class="d-flex align-items-center justify-content-center video_new_head pb-2">
                          <a href="#" class="pr-3 txt_black2 txt_semi">Trending</a>
                          <span class="img_video_logo"><img class="wobble" src="./../../assets/yummy-logo-black.png" alt=""></span>
                          <a href="#" class="pl-3 txt_black2 txt_semi">My Videos</a>
                      </div>
                      <div class="d-flex align-items-center justify-content-center video_new_head pb-2">
                          <div class="flx_0 pr-3 cursor-pointer">
                              <i class="fa fa-arrow-left back_arrow"></i>
                          </div>
                          <div class="flx_1 text-right">
                              <div class="text-center d-inline-block m-0 cursor-pointer">
                              <span class="img_add_video"><img src="./../../assets/add_video_icon.png" alt="">
                                  <span class="txt_black2 txt_size_4 pt-0 txt_semi d-block">Add Video</span>
                              </span>
                          </div>
                          </div>
                      </div>
                  </header>
                  <aside class="aside_video d-flex justify-content-center align-items-center flex-column">
                      <span class="cursor-pointer pb-4 text-center">
                          <img src="./../../assets/like-icon.png" class="video_action_img" alt="" *ngIf="like_status" (click)="click_like()" >
                          <img src="./../../assets/like-icon-white.png" class="video_action_img" alt="" *ngIf="!like_status" (click)="click_like()">
                          <span class="d-block">{{like_count}}</span>
                      </span>
                      <span class="cursor-pointer pb-4 text-center"  (click)="hide_chat(true)">
                          <img src="./../../assets/comments-icon-white.png" class="video_action_img" alt="">
                          <span class="d-block">{{chat_count}}</span>
                      </span>
                      <span class="cursor-pointer pb-4 text-center">
                          <img src="./../../assets/share-icon-white.png" (click)="click_share()" class="video_action_img" alt="">
                          <span class="d-block">{{share_count}}</span>
                      </span>
                  </aside>
                  <article class="video_info_txt text-white">
                      <div class="video_pro_info">
                          <div class="d-flex">
                              <div class="flx_0 pr-2">
                                  <span class="vp_1">
                                      <img src="{{merchant_image}}" alt=""/>
                                  </span>
                              </div>
                              <div class="flx_1 ellips_txt">
                                  <h5 class="vp_2 ellips_txt">{{merchant_name}}</h5>
                                  <span class="vp_3">{{video_date | timeAgo}}</span>
                              </div>
                              <div class="flx_0 pl-3">
                                  <span class="vp_4" *ngIf="!follow_status" (click)="click_follow()">Follow</span>
                                  <span class="vp_4" *ngIf="follow_status" (click)="click_follow()">Unfollow</span>
                              </div>
                          </div>
                      </div>
                      <p>{{video_note}}</p>
                  </article>
                  <video class="video_view_2" poster="../../assets/loading-circle-1.svg" id="{{i}}">
                    <source [src] = "video_scr"  type="video/mp4" />
                    Browser not supported
                  </video>
                </div>
              </div>
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>




  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="popup_box_1 d-flex align-items-end zind_100" *ngIf="chat_view">
    <div class="comments_video w-100 p-2">
        <header class="d-flex w-100">
            <div class="flx_1 pr-2">
                <h5 class="color_3 text-center txt_semi mb-0">{{chat_history.length}} Comments</h5>
            </div>
            <div class="flx_0 pr-3">
                <span class="cursor-pointer color_3 txt_semi close_comments_video" (click)="hide_chat(false)" ><i class="fa fa-angle-down"></i></span>
            </div>
        </header>
        <div class="chat_pro">
            <ul>
                <ng-container *ngFor="let item of chat_history; let i = index">
                <li class="pb-3">
                    <div class="d-flex">
                        <div class="flx_1">
                            <div class="d-flex">
                                <div class="flx_0 pr-2">
                                    <img src="{{item.user_image}}" class="c_img" alt="">
                                </div>
                                <div class="flx_1 line_n">
                                    <span class="c_msg pb-2"> {{item.user_name}}</span>
                                    <p class="c_name mb-0" *ngIf="item.type == 'text'">{{item.text}}</p>
                                    <p class="c_name mb-0" *ngIf="item.type == 'location'">{{item.location}}</p>
                                    <p class="c_name mb-0" *ngIf="item.type == 'image'">{{item.image}}</p>
                                    <div>
                                        <span class="hrs_coment">{{item.user_created_date | timeAgo}}</span>
                                        <span class="cursor-pointer comment_rply d-block pt-1" (click)="reply_action(i)" >Reply</span>
                                        <ng-container *ngFor="let items of item.reply_record">
                                          <div class="flx_0 pr-2">
                                            <img src="{{items.user_image}}" class="c_img" alt="">
                                          </div>
                                          <div class="flx_1 line_n">
                                            <span class="c_msg pb-2"> {{items.profile_name}}</span>
                                            <p class="c_name mb-0">{{items.text}}</p><span class="hrs_coment">{{items.date | timeAgo}}</span>
                                            </div>
                                        </ng-container>
                                        <div class="chat_msg_box" *ngIf="item.chat_text_option">
                                          <div class="d-flex align-items-center">
                                              <div class="flx_1 pr-1">
                                                  <textarea placeholder="Message Here" [(ngModel)]="reply_text"  name="reply_text" class="chat_input brad_0 w-100"></textarea>
                                              </div>
                                              <div class="flx_0">
                                                      <button class="sendBtn"><i class="fa fa-angle-right" (click)="reply_submit(item,i)"></i></button>
                                              </div>
                                          </div>

                                         </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flx_0 video_like" >
                            <i class="fa fa-heart-o cursor-pointer" *ngIf="!item.chat_like_status" (click)="chat_likes(item,true,i)" ></i>
                            <i class="fa fa-heart cursor-pointer" *ngIf="item.chat_like_status" (click)="chat_likes(item,false,i)"></i>
                            <span class="d-block text-center">{{item.chat_like_data.length}}</span>
                        </div>
                    </div>

                </li>
               </ng-container>


                <!-- <li class="pb-3">
                    <div class="d-flex">
                        <div class="flx_1">
                            <div class="d-flex">
                                <div class="flx_0 pr-2">
                                    <img src="images/profile_user.jpg" class="c_img" alt="">
                                </div>
                                <div class="flx_1 line_n">
                                    <span class="c_msg pb-2"> Profile Name</span>
                                    <p class="c_name mb-0">sample username</p>
                                    <div class="pt-1">
                                        <span class="hrs_coment">22h</span> <span class="cursor-pointer comment_rply">Reply</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flx_0 video_like">
                            <i class="fa fa-heart-o cursor-pointer"></i>
                            <span class="d-block">53</span>
                        </div>
                    </div>

                </li> -->


            </ul>
        </div>
        <footer class="flx_0 p-2">
            <div class="chat_msg_box">
                    <div class="d-flex align-items-center">
                        <div class="flx_1 pr-1">
                            <textarea placeholder="Message Here" [(ngModel)]="chat_text"  name="chat_text" class="chat_input brad_0 w-100"></textarea>
                        </div>
                        <div class="flx_0">
                                <button class="sendBtn"><i class="fa fa-angle-right" (click)="submit_chat()"></i></button>
                        </div>
                    </div>
        </div>
    </footer>
    </div>
</div>
